body{
	background-color: #232323;
	font-family: "Montserrat","Avenir";
	margin: 0;
}
.selected{
	background: steelblue;
	color: white;
}
.Square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 50%;
}
#bar{
	background-color: white;

	text-align: center;
}
 button{
	margin-left: 20px;
	margin-right: 20px;
	border: none;
	background: none;
	height: 100%;
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;
	transition: all 0.5s;
}
#message{
	color: white;
}
#colordis{
	font-size: 45px;
}
.wrong{
	background-color: #232323;
}
#container{
	margin: 20px auto;
	max-width: 600px;
}
h1{
	font-weight: normal;
	color: white;
	margin: 0;
	line-height: 1.1;
	text-align: center;
	background-color: steelblue;
	text-transform: uppercase;
	padding: 20px 0;
}
h2{
	text-align: center;
	background-color: #30fc03;
	margin: 0;
}

#bar button:hover {
	color: white;
	background: steelblue;
}
